#about-home
{
	text-align: center;
	padding: 4% 25% 2%;
	width: 50%;
}

#about-home img
{
	width: 80px;
	margin-bottom: 50px;
}

#about-home p 
{
	line-height: 40px;
	text-align: justify;
	margin-bottom: 50px;
}

#about,
#team
{
	margin: 7% 15% 7% 15%;
}

#about h2
{
	margin: 60px 0 5px;
	color: #b20000;
}

#about h3
{
	margin: 20px;
	font-size: 32px;
}

#about p
{
	margin: 10px;
	line-height: 45px;
}

#about table
{
	margin-top: 40px;
	width: 100%;
	table-layout: fixed;
	border-spacing: 15px;
}

#about tr td:nth-child(1)
{
	text-align: center;
}

#team
{
	text-align: center;
}

#team table
{
	table-layout: fixed;
	width: 100%;
}

#team table td
{
	padding: 30px 0;
}

#team small
{
	color: #777;
}

.officer-img
{
	width: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}



