---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

body{
	margin: 0;
	font-family: 'Signika', sans-serif !important;
}

a
{
	text-decoration: none;
	color: #777;
	transition: all 0.3s ease;
	line-height: 25px;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

a:hover
{
	border-color: #777;
}
