<div id="about">	
	<h2>Who are we?</h2>
	<p>
		The Undergraduate Poker Club provides an environment for Carnegie Mellon students to develop and apply analytical skills and strategies to the game of poker.
	</p>

	<h2>Our Membership</h2>
	<p>
		We are a relatively new organization in our second semester of operation. Our events gather up to 100 participants comprised of competitive students across numerous disciplines, including Computer Science, Engineering, Math, Finance, and Statistics.
	</p>

	<h2>Sponsorship Goals</h2>
	<p>
		We are seeking corporate partners to help subsidize our operating costs and promote the growth of our organization. In addition, we hope to facilitate connections between our members and companies interested in students with the analytical mindsets developed through poker.
	</p>
	<p>
		Below are suggested sponsorship tiers, but we welcome negotiations to better align your interests with our own.
	</p>

	<table>
		<thead>
			<tr>
				<th>Sponsorship Tiers</th>
				<th colspan="2">Benefits</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Gold - $500</td>
				<td colspan="2">
					We will hold an event where your firm will have the opportunity to speak with our members (+Silver/Bronze)
				</td>
			</tr>
			<tr>
				<td>Silver - $200</td>
				<td colspan="2">Logo placement on t-shirts and posters (+Bronze)</td>
			</tr>
			<tr>
				<td>Bronze - $50</td>
				<td colspan="2">Logo placement on website</td>
			</tr>
			<tr>
				<td>Custom</td>
				<td colspan="2"><a href="{{site.baseurl}}/contact.html">Contact us!</a></td>
			</tr>
		</tbody>
	</table>
</div>