<div id="about">	
	<h2>Purpose</h2>
	<p>
		The Undergraduate Poker Club strives to be a hub for the poker community at Carnegie Mellon University to meet, learn, and play. We aim to engage all manner of poker players with a wide array of events that include everything from charity tournaments and interactive workshops to guest speakers and networking opportunities. Outside of CMU, we seek to build lasting connections with trading firms and other companies that are interested in students with the strategic and analytical skills developed through poker.
	</p>

	<h2>Membership</h2>
	<p>
		Our membership is comprised of competitive students across numerous disciplines, including Computer Science, Engineering, Math, Finance, and Statistics.
	</p>

	<h2>Events</h2>
	<p>
		UPC holds a variety of events designed to meet the diverse interests of our members. Our workshops help members improve their game, and our tournaments allow them to test their skills by competing for hundreds of dollars in prizes. We also collaborate with other student organizations, host guest speakers, and <a href="{{site.baseurl}}/events.html">more</a>.
	</p>

	<h2>Sponsorship Goals</h2>
	<p>
		As a relatively new organization in our second semester of operation, we are seeking corporate partners to help subsidize our operating costs and promote the growth of our organization. In addition, we hope to facilitate connections between our members and companies interested in students with the analytical mindsets developed through poker. For sponsorship inquiries, please <a href="{{site.baseurl}}/contacts.html">contact us</a>.
	</p>
	
	<h2>Gold Sponsors</h2>
	
	<br><br>
	<a href="https://www.janestreet.com/">
	<img border="0" src="../img/janestreet.jpeg" width="494" height="132"><a/>
	
	<a href="https://www.optiver.com/na/en/">
	<img border="0" src="../img/Optiver_Logo.png" width="494" height="132"><a/>
	
	<h2>Bronze Sponsors</h2>

	<br><br>
	<a href="https://sig.com/">
	<img border="0" src="../img/sig.png" width="443" height="114"><a/>

</div>
