<div id="about">	
	<h2>Purpose</h2>
	<p>
		The Undergraduate Poker Club provides an environment for Carnegie Mellon students to develop and apply analytical skills and strategies to the game of poker.
	</p>

	<h2>Membership</h2>
	<p>
		Our membership is comprised of competitive students across numerous disciplines, including Computer Science, Engineering, Math, Finance, and Statistics.
	</p>

	<h2>Events</h2>
	<p>
		UPC holds a variety of events designed to meet the diverse interests of our members. Our workshops help members improve their game, and our tournaments allow them to test their skills by competing for hundreds of dollars in prizes. We also collaborate with other student organizations, host guest speakers, and <a href="{{site.baseurl}}/events.html">more.</a>
	</p>

	<h2>Sponsorship Goals</h2>
	<p>
		As a relatively new organization in our second semester of operation, we are seeking corporate partners to help subsidize our operating costs and promote the growth of our organization. In addition, we hope to facilitate connections between our members and companies interested in students with the analytical mindsets developed through poker. For sponsorship inquiries, please <a href="{{site.baseurl}}/contacts.html">contact us</a>.
	</p>

	<table>
		<thead>
			<tr>
				<th>Sponsorship Tiers</th>
				<th colspan="2">Benefits</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Gold - $500</td>
				<td colspan="2">
					We will hold an event where your firm will have the opportunity to speak with our members (+Silver/Bronze)
				</td>
			</tr>
			<tr>
				<td>Silver - $200</td>
				<td colspan="2">Logo placement on t-shirts and posters (+Bronze)</td>
			</tr>
			<tr>
				<td>Bronze - $50</td>
				<td colspan="2">Logo placement on website</td>
			</tr>
			<tr>
				<td>Custom</td>
				<td colspan="2"><a href="{{site.baseurl}}/contact.html">Contact us!</a></td>
			</tr>
		</tbody>
	</table>
	
	<h2>Current Sponsors</h2>
	<p>
		<p> </p>
		<a href="https://www.studypool.com/accounting-homework-help"><img src="cmu-upc.github.io/img/studypool.png"/></a>
		<p>	
			Studypool is an online marketplace that connects students with questions with tutors who can answer them. Using Studypool gives you access to thousands of verified tutors to help you with any question at any time.
		</p>
	</p>
</div>
