<footer>
	<div id="contact">
		<h2>Get in touch!</h2>
		<ul>
			<li>
				<i class="fa fa-facebook-square" aria-hidden="true"></i>
				<a href="https://www.facebook.com/cmupokerclub/">/cmupokerclub</a>
			</li>
			<li>
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<a href="">cmupokerclub@gmail.com</a>
			</li>
		</ul>
	</div>
</footer>

<!-- Loading in some scripts here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/fastclick.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/responsive-nav.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/scroll.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/fixed-responsive-nav.js"></script>
{% if page.section-type == "index" %}

{% endif %}