<header id="home">
  <a href="{{site.baseurl}}/index.html" class="logo" data-scroll>
    <img src="{{site.baseurl}}/{{site.icon}}">
    CMU Poker Club
  </a>
  <nav class="nav-collapse">
    <ul>
        <li class="menu-item"><a href="{{site.baseurl}}/about.html" data-scroll>About</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/events.html" data-scroll>Events</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/contact.html" data-scroll>Contact Us</a></li>
    </ul>
  </nav>
</header>

<div id="buffer" style="margin-top: 55px;"></div>
