<div id="team">
	<h1>Team</h1>
	<table id="team-table">
		<script>
	    var rowMax = 3;
	    var table = document.getElementById("team-table");
	    var i = 0;
	  </script>
		{% for o in site.officers %}
			<script>
        if (i == 0) {
          var row = table.insertRow(table.rows.length);
        } 
        else {
        	var row = table.rows[table.rows.length - 1];
        }

        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(i);
        //var cell2 = row.insertCell(1);
        
        // Add some text to the new cells:
        cell1.innerHTML = "<img src='{{site.baseurl}}/{{o[1].photo}}' class='officer-img'>\
														<h5>{{o[1].name}}</h5>\
														<small>{{o[1].position}}</small>"
        i++;
        if (i == rowMax) {
          i =0 ;
        }
      </script>
		{% endfor %}
	</table>
</div>